@*@model TWWork_v2.ViewModels.PowerOnAndOffViewModel*@

@{
	Layout = null;
	ViewData["Title"] = "设备通断电情况";
}

<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<link href="~/lib/layui/css/layui.css" rel="stylesheet" />
</head>
<body>
	<div id="app">
		<form class="layui-form">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">条件</label>
				</div>
				<div class="layui-inline">
					<div class="layui-input-inline">
						<input v-model="dateMin" class="layui-input" id="dateMin" type="text" placeholder="开始时间" autocomplete="off">
					</div>
					<div class="layui-input-inline">
						<input v-model="dateMax" class="layui-input" id="dateMax" type="text" placeholder="结束时间" autocomplete="off">
					</div>
				</div>
				<div class="layui-inline">
					<input class="layui-btn layui-btn-primary" type="button" v-on:click="searchData" value="查询" />
				</div>
				@*<div class="layui-inline">
						<input class="layui-btn layui-btn-primary" type="button" id="export" value="导出" />
					</div>*@
			</div>
		</form>

		<div style="padding: 20px; background-color: #F2F2F2;" v-for="option in options">
			<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
				<legend>{{ option.Name }}</legend>
			</fieldset>
			<div class="layui-row layui-col-space15">
				<div class="layui-col-md1" v-for="item in option.Items">
					<div class="layui-card">
						<div class="layui-card-header">{{ item.SiteNo }}#</div>
						<div class="layui-card-body">
							IN:{{ item.InPowerOnPercent }}<br>
							OUT:{{ item.OutPowerOnPercent }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<script src="~/lib/vue/vue.js"></script>
	<script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/layui/layui.js"></script>
	<script src="~/lib/layui/layui_exts/excel.js"></script>
	<script src="~/lib/echarts/dist/echarts.min.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				dateMax: '',
				dateMin: '',
				options: []
			},
			created: function () {
				var _this = this;
				_this.initLayui();
			},
			computed: {

			},
			methods: {
				initLayui: function () {
					var self = this;
					layui.use(['laydate', 'form'], function () {
						self.laydate = layui.laydate;
						self.dateRender(self.laydate, ['#dateMax', '#dateMin']);

						self.form = layui.form;

					});
				},
				dateRender: function (laydate, elems) {
					var self = this;
					for (i = 0; i < elems.length; i++) {
						laydate.render({
							elem: elems[i],
							type: 'datetime',
							format: 'yyyy-MM-dd HH:mm:ss',
							done: (value) => {
								if (elems[i] == "#dateMax")
									self.dateMax = value;
								else if (elems[i] == "#dateMin")
									self.dateMin = value;
							}
						});
					}
				},
				searchData: function () {
					var self = this;
					self.dateMin = $("#dateMin").val();
					self.dateMax = $("#dateMax").val();
					$.ajax({
						url: '/PowerOnAndOff/LoadData',
						method: 'post',
						dataType: 'JSON',
						//如果发送的是post请求，可以把请求体放在data对象这里
						data: {
							dateMin: self.dateMin,
							dateMax:self.dateMax
						},
						success: function (res) {
							//console.log(res)
							self.options = JSON.parse(res);

						},
						error: function () {
							console.log('请求出错');
						}
					});
				}
			},
			updated: function () {
				var _this = this;
				if (_this.form) {
					_this.form.render();
				}
			}
		});
	</script>
</body>
</html>